@media screen and (max-width:576px) {

  .menu {
   display: none;
   margin-bottom: 30px
  }
  .hero-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .hero-left h2 {
    color: white;
    font-size: 30px;
    font-weight: 900;
    line-height: normal;
  
  }
  #shape {
    font-family: "Italianno", cursive;
    font-size: 90px;
    font-style: italic;
    font-weight: 200;
    margin-right: 12px;
  }

  .hero-left p {
    color: gray;
    margin: 20px 0px;
    font-size: 15px;
    line-height: 25px;
  }

  .btn {
    padding: 10px 16px 11px 16px;
        border: none;
        border-radius: 18px;
        font-size: 14px;
  }
  .hero2-btn {
    border: 1px solid gray;
  }
  .hero-right img {
    width: 283px;
    height: 419px;
    filter: brightness(100%);
    position: relative;
}
.box1 {
  width: 135px;
  height: 67px;
  position: absolute;
  margin: -356px 0px 0px 182px;
  border-radius: 10px;
}
  
}