@media screen and (max-width: 576px) {
  .menu {
    display: none;
    margin-bottom: 30px;
  }

  nav h3 {
    font-size: 40px;
    width: 70%;
  }

  .menubar {
    display: block;
    color: white;
    font-size: 25px;
  }
  .hero-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .hero-left h2 {
    color: white;
    font-size: 40px;
    font-weight: 900;
    line-height: normal;
    width: 350px;
  }

  .hero-btn {
    gap: 10px;
    width: 400px;
  }

  #shape {
    font-family: "Italianno", cursive;
    font-size: 90px;
    font-style: italic;
    font-weight: 200;
    margin-right: 12px;
  }

  .hero-left p {
    color: gray;
    margin: 20px 0px;
    font-size: 15px;
    line-height: 25px;
  }

  .btn {
    padding: 15px 17px 15px 17px;
    border: none;
    border-radius: 18px;
    font-size: 20px;
  }
  .hero2-btn {
    border: 1px solid gray;
  }
  .hero-right img {
    width: 283px;
    height: 419px;
    filter: brightness(100%);
    position: relative;
  }
  .box1 {
    width: 135px;
    height: 67px;
    position: absolute;
    margin: -356px 0px 0px 182px;
    border-radius: 10px;
  }
  .habit-container {
    margin: 0 auto;
  }

  .habit-content h2 {
    font-size: 28px;
    margin: 4px;
  }
  .habit-content p {
    width: 100%;
  }
  .habit-bottom {
    display: block;
  }

  .habit4 img {
    width: 50%;
    border-radius: 70%;
    margin-bottom: 20px;
  }
  .habit4 {
    margin-bottom: 35px;
    text-align: center;
  }

  .run-container {
    width: 85%;
    margin: 67px auto;
    height: 100%;
    margin-left: 40px;
    padding: 0px 10px;
    display: block;
}

.run-container img {
  border-radius: 28px;
  width: 100%;
  height: auto;
  margin: 10px auto;
  padding: 12px 19px;
 
}
.run-content h2 {
  font-size: 32px;
  padding: 13px;
  margin-bottom: -9px;
}

.run-content p {
  padding: 8px;
  width: 90%;

}
.run-content button{
 width: 300px;
 color: white;
 font-size: 20px;
 font-weight: 400;
 margin-left: 10px;
 margin-bottom: 15px;
}




  .hide {
    display: none;
  }






}
