@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+AU+VIC:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Playwrite+AU+VIC:wght@100..400&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(28, 2, 113);
  background-color: black;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.97),
    rgba(3, 3, 3, 0.93) 100%
  );
  border: 2px solid white;
}

* {
  margin: 0 auto;
  padding: 0;
  max-width: 1100px;
  box-sizing: border-box;
}

/* navbar start here */

nav {
  /* border: 2px solid tomato; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}

nav h3 {
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  color: rgb(230, 83, 60);
  width: 50%;
}

.menu {
  width: 40%;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
}
.menu ul {
  display: flex;
  gap: 37px;
  margin: 7px auto;
}
nav ul li {
  list-style: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.span {
  background: rgb(230, 83, 60);
  padding: 4px 13px;
  border-radius: 14px;
  margin: 5px 6px;
}

/* navbar end here */

/* hero section start here */
.hero-container {
  width: 90%;
  display: flex;
  /* border: 2px solid tomato; */
  margin: 0 auto;
  margin-top: 60px;
  gap: 70px;
  height: 100%;
}

.hero-left {
  margin: 77px 100px 0px 0px;
}
.hero-left h2 {
  color: white;
  font-size: 55px;
  font-weight: 900;
  line-height: normal;
  padding: 0;
}

.hero-left p {
  color: gray;
  margin: 20px 0px;
}
#shape {
  font-family: "Italianno", cursive;
  line-height: 0;
  font-size: 129px;
  font-style: italic;
  font-weight: 200;
  margin-right: 12px;
}

.hero-right img {
  width: 300px;
  height: 435px;
  filter: brightness(100%);
  position: relative;
}

.btn {
  padding: 10px 23px 10px 22px;
  border: none;
  border-radius: 25px;
}

.hero-btn {
  display: flex;
  gap: 10px;
}

.hero1-btn {
  color: white;
  font-size: 16px;
  background: rgb(230, 83, 60);
  font-weight: 400;
  margin: 0;
}
.hero2-btn {
  color: white;
  font-size: 16px;
  background: black;
  font-weight: 400;
  border: 1px solid gainsboro;
  margin: 0;
}

.box1 {
  color: white;
  /* border: 2px solid white; */
  width: 135px;
  height: 67px;
  text-align: center;
  padding: 14px 0px;
  position: absolute;
  margin: -300px 0px 0px 182px;
  backdrop-filter: blur(15px);
  background: rgba(220, 216, 216, 0.11);
  border-radius: 10px;
}

.box1 h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 2px;
}
.box1 p {
  color: gray;
  font-size: 12px;
}
.box2 {
  color: white;
  /* border: 2px solid white; */
  width: 113px;
  height: 59px;
  text-align: center;
  padding: 10px 0px;
  position: absolute;
  margin: -123px 0px 0px -41px;
  backdrop-filter: blur(15px);
  background: rgba(220, 216, 216, 0.11);
  border-radius: 10px;
}
.box2 h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 2px;
}
.box2 p {
  color: gray;
  font-size: 12px;
}

/* hero section end here */

/* habit section start here */
.habit-container {
  /* border: 2px solid white; */
  width: 80%;
  margin: 70px auto;
  height: 100%;
  margin-left: 40px;
}

.habit-content {
  color: white;
  text-align: center;
  align-items: center;
}
.habit-content h2 {
  font-size: 40px;
  margin: 10px;
}
.habit-content p {
  width: 500px;
  color: gray;
  font-size: 15px;
}

.habit-bottom {
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.habit4 {
  /* border: 2px solid red; */
  margin: 10px;
  align-items: center;
  text-align: center;
}

.habit4 h4 {
  color: white;
  font-size: 20px;
}
.habit4 p {
  color: gray;
  font-size: 14px;
  margin-top: 5px;
}

.habit4 img {
  width: 75%;
  height: 65%;
  border-radius: 70%;
  background-size: cover;
  margin-bottom: 20px;
}
/* habit section end here */

/* run section start here */
.run-container {
  /* border: 2px solid white; */
  width: 80%;
  margin: 70px auto;
  height: 100%;
  margin-left: 40px;
  display: flex;
  padding: 20px 40px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  gap: 30px;
}
.run-content {
  align-items: center;
}
.run-content h2 {
  color: white;
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
  margin-bottom: 15px;
}
.run-content p {
  font-size: 16px;
  color: gray;
  width: 70%;
  margin: 0;
  margin-bottom: 10px;
  line-height: 25px;
}
.run-content button {
  background: rgb(230, 83, 60);
  margin-top: 20px;
}
.run-container img {
  height: 300px;
  width: 350px;
  border-radius: 20px;
}
/* run section end here */
